In [1]:
class A:
    pass
class B(A):
    pass

In [2]:
id(A())==id(A())

True

In [3]:
a = 2700
b = 2700
print(a is b)

False

In [4]:
c, d = 2700, 2700
print(c is d)

False

In [5]:
a ='a'*23
b ='a'*23
print(a is b)

True

In [6]:
class A:
    x =10
    def say_hi(self):
        print(self.name)

In [7]:
a= A()
a.name= "EKta"
a.say_hi()

EKta

In [8]:
#DECORATORS

In [9]:
users={
    "Ekta": "password",
    "@good": "safe one"
}

In [10]:
def show():
    print("Hello World")

In [11]:
def show(username, password):
    if username in users and users[username] == password:
        print("Hello World!!")
    else:
        print("Not Authenticated!!")

In [12]:
show('Ekta','password')

Hello World!!

In [13]:
def square(x):
    return x**2

In [14]:
def login_required(func):
    def wrapper(username, password, *args , **kwargs):
        if username in users and users[username] == password:
            return func(*args, **kwargs)
        else:
            print("Not Authenticated!!")
    return wrapper

In [15]:
secure_square = login_required(square)

In [16]:
secure_square('Ekta', 'password', 5)

25

In [17]:
login_required(square)('Ekta', 'password', 5)       #same as above line

25

In [18]:
def square(x):
    return x**2
square = login_required(square)

In [19]:
@login_required           #Decorator
def square(x):
    return x**2           #This is same as that of above

In [20]:
square('Ekta','password', 5)

25

In [21]:
def add_dashes(func):
    def wrapper(*args, **kwargs):
        print('-'*20)
        return func(*args, **kwargs)
    return wrapper

In [22]:
@add_dashes
def add(a,b):
    print(a+b)

In [23]:
add(5,8)

--------------------
13

In [24]:
@add_dashes
def say(name, last_name):
    print("hello, {} {} ".format(name, last_name))

In [25]:
say("Ekta","Mishra")

--------------------
hello, Ekta Mishra

In [26]:
def custom_dashes(char):
    def add_dashes(func):
        def wrapper(*args, **kwargs):
            print(char*20)
            res = func(*args, **kwargs)
            print(char*20)
            return res
        return wrapper
    return add_dashes

In [27]:
@custom_dashes('*')
def say(name, last_name):
    print("hello, {} {} ".format(name, last_name))

In [28]:
say("Ekta","Mishra")

********************
hello, Ekta Mishra
********************

In [29]:
#COLLABLE

In [30]:
class my_function:
    def __init__ (self, power):
        self.power= power
        
    def __call__(self, number):
        print(number**self.power)         

    def __show__(self, number):
        print(number**self.power)

In [31]:
square= my_function(2)      #Here square is not a function it is a collable object

In [32]:
square(6)

36

In [33]:
cube = my_function(3)

In [34]:
cube(3)

27

In [35]:
def show():
    pass
type(show)

function

In [36]:
isinstance(cube, type(show))       #This depicts it is not a function

False

In [37]:
#FUNCTIONAL PROGRAMMING

In [38]:
# Lambda functions
square = lambda x: x**2
square(2)

4

In [39]:
_sum = lambda *args: sum(args)
_sum(1,3,2,7)

13

In [40]:
show = lambda a=10,b=20: \       #this is used to denote hat the line is still continued
      sum(args) \
      print("Hello")

SyntaxError: unexpected character after line continuation character (<ipython-input-40-4236cc596a16>, line 1)

In [41]:
arr = [int(x) for x in input().split(' ')]

1 2 3 4 5

In [42]:
arr

[1, 2, 3, 4, 5]

In [43]:
arr = list(map(int, input().split(' ')))      #Map modifies the values

1 2 3 4 5 6 7

In [44]:
arr

[1, 2, 3, 4, 5, 6, 7]

In [45]:
for x in map(lambda x: x**3 if x%2 else x**2, arr):
               print(x)

1
4
27
16
125
36
343

In [46]:
#FILTER

In [47]:
a = [1, 2, 3, 4, 5]

In [48]:
list(filter(lambda x: not x%2, a))          #Filter selects some values

[2, 4]

In [49]:
#Reduce

In [50]:
a = [4, 2, 7, 2, 8]

In [51]:
from functools import reduce

In [52]:
reduce(lambda x, y: x+y, a)

23

In [53]:
a = [7, 3, 8, 2]

In [54]:
reduce(lambda x, y: x if x>y else y , a)

8

In [55]:
#IN-BUILT FUNCTIONS

In [56]:
arr =[1, 2, 3, 4, 5, 5, 2]

In [57]:
 #it will not work with sort,but works with sorted as it needs an iterable
sorted(map(lambda x: x**3 if x%2 else x**3, arr))

[1, 8, 8, 27, 64, 125, 125]

In [58]:
sorted(set(arr))

[1, 2, 3, 4, 5]

In [59]:
#Enumeration

In [60]:
arr = ["jatin", "Shashank", "Ekta", "Ankit", "Shivam"]

In [61]:
enumerate(arr)

In [62]:
for i, name in enumerate(arr):
    print(i, "=>", name)

0 => jatin
1 => Shashank
2 => Ekta
3 => Ankit
4 => Shivam

In [63]:
#Parallel Arrays

In [64]:
name = ["a", "b", "c"]
marks = [1, 2, 3, 4, 5]

In [65]:
for i in zip(name, marks):
    print(i)            #Zip

('a', 1)
('b', 2)
('c', 3)

In [66]:
for i,j in zip(name, marks):
    print(i,j)           #Unzip

a 1
b 2
c 3

In [67]:
#all and Any functions

In [68]:
all([1, 0, 8, 3, 10])      #it returns true if all the elements of the iterable returns truthy value

False

In [69]:
any([0, 0, 2])         #it returns true if any of the element is a truthy value

True

In [70]:
globals()['arr'] = [1, 2, 3]   #it clears all t

In [72]:
x=20
def show(a,b):
    global x
    c= a+b
    return(locals())

In [73]:
show(8,6)

{'a': 8, 'b': 6, 'c': 14}

In [74]:
#EVAL

In [77]:
eval('''print(10+20)''')       #it runs a python virtual machine in this virtual machine
#you can run a line inside a python code

30

In [78]:
#ord
ord('A')

65

In [79]:
#Binary

In [80]:
bin(101)

'0b1100101'

In [81]:
a = 0b111

In [82]:
a

7