In [4]:
a= 10
b= 10
a is b
id(a)==id(b)

True

In [5]:
a= ([1, 6],[2, 3],[4, 8])

In [6]:
a[0]+=[5,6]

TypeError: 'tuple' object does not support item assignment

In [7]:
a

([1, 6, 5, 6], [2, 3], [4, 8])

In [8]:
#for input array

In [9]:
arr = list(map(int, input().split(' ')))

3 8 1 7 2

In [10]:
arr

[3, 8, 1, 7, 2]

In [11]:
arr[0]= 0

In [12]:
arr

[0, 8, 1, 7, 2]

In [13]:
def func(name: str, last_name: str) -> None:
    'this is a documentation'
    return "Hello, {} {}".format(name, last_name)

In [14]:
func?

In [16]:
func("Ekta", "Mishra")

'Hello, Ekta Mishra'

In [17]:
from functools import reduce

In [18]:
#     *
#    ***
#   *****
#  *******
# *********
#  *******
#   *****
#    ***
#     *

In [21]:
n = 5
for i in range(n): print( ' '*(n-i-1) + '*'*((2*i)+1) )
for i in range(n-1): print( ' '*(i+1) + '*'*(2*(n-1-i)-1) )

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [4]:
import random as rnd_int

In [6]:
rnd_int

In [7]:
nums ={1,2,3,4,5,6}

In [8]:
nums={0,1,2,3}&nums

In [9]:
nums = filter(lambda x:x>1)

{1, 2, 3}

In [14]:
try:
    print(1)
    print(20/0)
    print(2)
except ZeroDivisionError:
    print(3)
finally:
    print(4)

1
3
4

In [13]:
a = (lambda x: x*(x+1))
print(a)

TypeError: argument of type 'int' is not iterable

In [15]:
try:
    print(1)
    assert 2+2==5
except AssertionError:
    print(3)
except:
    print(4)

1
3

In [16]:
nums = (55,44,33,22)
print(max(min(nums[:2]),abs(-42)))

44